body {
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "IBM Plex Sans";
  color: #0f0137;
  background-image: url("background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-wrap: wrap;
}

@font-face {
  font-family: IBM Plex Sans;
  src: url(IBMPlexSans.ttf) format("truetype");
}

@font-face {
  font-family: Gill Sans;
  src: url(GillSans.ttf) format("truetype");
}

.App {
  display: grid;
  grid-template-rows: min-content auto 1fr;
  grid-template-columns: 15.6rem auto;
  min-height: 100vh;
}

.logo img {
  width: 4rem;
  height: auto;
  padding-left: 0.7rem;
  padding-top: 0.25rem;
}

header {
  display: flex;
  justify-content: space-between;
  background-color: #020c32;
  color: white;
  grid-column: 1 / span 2;
  padding: 0.5rem;
  font-weight: bold;
  font-size: 1.55rem;
}

.header-left {
  display: flex;
  align-items: center;
  gap: 0.65rem;
  font-size: 1.5em;
  font-family: "Gill Sans";
}

.header-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 0.75em;
}

.user-profile-image {
  border-radius: 50%;
  width: 2.5rem;
  height: auto;
  margin-right: 0.75rem;
}

.bounce-text {
  display: inline-flex;
}

.letter {
  display: inline-block;
  transition: transform 0.2s;
}

.bounce-text:hover .letter {
  animation: bounce 0.5s ease forwards;
  animation-delay: calc(var(--i) * 0.1s);
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-.65rem);
  }
  100% {
    transform: translateY(0);
  }
}

.header-right button {
  align-self: center;
  margin-top: auto;
  padding: 0.65rem;
  background-color: #172b87;
  color: white;
  border: none;
  font-weight: bold;
  cursor: pointer;
  font-family: "IBM Plex Sans";
  border-radius: 0.2rem;
  transition: background-color 0.3s ease;
}

.blog-description {
  grid-column: 1 / span 2;
  padding: 0.65rem;
  max-height: 2.2rem;
  font-size: 1.2rem;
  text-align: center;
  color: white;
  background-color: #1f35a5;
}

form {
  padding: 0.65rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 1.65rem;
}

form input,
form textarea {
  margin-bottom: 0.65rem;
  width: 22rem;
  background-color: #b1cdff;
  font-family: "IBM Plex Sans";
  font-size: 1.1rem;
}

nav,
article {
  padding: 0.65rem;
  padding-left: 0.85rem;
}

article {
  max-width: 100%;
  overflow: hidden;
  /* background-image: url("background.png"); */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

nav {
  background-color: #0b1075;
  color: white;
  height: auto;
  font-weight: bold;
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0.65rem;
  color: white;
  text-align: center;
}

.new-article-button {
  align-self: center;
  margin-top: auto;
  padding: 0.65rem;
  background-color: #172b87;
  color: white;
  border: none;
  font-weight: bold;
  cursor: pointer;
  font-family: "IBM Plex Sans";
  border-radius: 0.2rem;
  transition: background-color 0.3s ease;
}

.header-right button:hover,
.new-article-button:hover {
  background-color: #1f35a5;
}

nav p:hover {
  text-decoration: underline;
  cursor: pointer;
}

article .date {
  font-style: italic;
}

article .body {
  white-space: normal;
  word-wrap: break-word;
  overflow-wrap: break-word;
  max-width: 100%;
  font-size: 1.15rem;
}

.error {
  background-color: red;
  color: white;
  padding: 0.35rem;
}

a:visited {
  color: rgb(165, 1, 165);
}

@media (max-width: 800px) {
  .blog-description {
    font-size: 1rem;
  }
}

@media (max-width: 680px) {
  body {
    background-color: #6988e5;
  }
  
  .App {
    grid-template-rows: min-content auto auto auto auto;
    grid-template-columns: 1fr;
  }

  header {
    grid-row: 1;
    grid-column: 1;
    font-size: 1.2rem;
  }

  .logo img {
    width: 3.75rem;
    height: auto;
    padding-left: 5px;
    padding-top: 5px;
  }

  .user-profile-image {
    width: 2.5rem;
    height: auto;
    margin-right: 7px;
  }

  .blog-description {
    grid-row: 2;
    grid-column: 1;
    font-size: 0.9rem;
    max-height: 20px;
  }

  article {
    grid-row: 3;
    grid-column: 1;
    min-height: 10rem;
    background-image: url("background2.png");
  }

  .create-article {
    grid-row: 4;
    grid-column: 1;
  }

  nav {
    grid-row: 5;
    grid-column: 1;
    min-height: 200px;
  }

  article .body {
    font-size: 1rem;
  }
}

@media (max-width: 600px) {
  .blog-description {
    font-size: 0.75rem;
    max-height: 20px;
  }
}

@media (max-width: 490px) {
  .blog-description {
    font-size: 0.65rem;
    max-height: 20px;
  }
}

@media (max-width: 415px) {
  .blog-description {
    font-size: 0.55rem;
    max-height: 20px;
  }
}
